@media all and (min-width: 850px) {
    div[data-role="header"] {
        max-width: 800px;
        margin: auto;
    }
    div[data-role="content"] {
        max-width: 800px;
        margin: auto;
    }
    div[data-role="page"] {
        background-color: #e9e9e9;
    }
}

.post-container {
    background-position: 0.5em 1.2em; 
    background-size: 6em; 
    background-repeat: no-repeat;
    padding-left: 7em;
    position: relative;
    box-sizing: border-box;
    min-height: 7.7em;
    margin-bottom: 2em;
}

.post-container > .user-name {
    position: absolute;
    top: 0em;
    left: 0.5em;
    width: 6em;
    height: 1.2em;
    background-color: #333;
    color: white;
    padding-left: 0.2em;
    padding-right: 0.2em;
    box-sizing: border-box;
    border-top-left-radius: 0.3125em;
    border-top-right-radius: 0.3125em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}